.black{
    background-color: #2F303A;
    color: white;
}

footer {
    background-color: #2F303A;
    color: white;
}

button {
    background-color: #2196F3;
    color: white;
}

.blue {
    color: #2196F3;
  }
  
  .black2 {
    color: black;
  }
  
  .blue2 {
    color: #2196F3;
  }
  
  .white {
    color: white;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
    
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
    